{% extends "mastermin.njk" %}
{% block main %}
  <div id="productoNuevo">
    
    <div class="row">
      <div class="col-md"><h6> GRACIAS</h6></div></br></br>
    </div>

    <div class="row">
     <div class="col-md"><h6> PRODUCTO ELIMINADO</h6></div></br></br>
    </div>
     
  </div>  
{% endblock %}