{% extends "master.njk" %}
{% block main %}
   <div id="contenedor-index">  
      <div id="slide-index"> 
        {% include "partials/index-contenido.njk" %} 
      </div>      
    </div>   
{% endblock %}