
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
    
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="http://localhost:3001/static/css/styleAdmin.css" />
  </head>

  <body>
     <div id="contenedorMasterAdministrador">  
      <div id="logoAdministrador">
        <label><img src="http://localhost:3001/static/img/logo.jpg"/></label>
      </div>

  

     
 {#    <div id="navbarAdministrador">        
      <div class="row">
        
   
       <div class="col-1"> <a class="menu" href="/session/pendientes"> CLIENTES</a></div>
       <div class="col-3"> <a class="menu" href="/session/pendientes"> PEDIDOS PENDIENTES   </a></div>
       <div class="col-3"><a class="menu" href="/session/realizados">PEDIDOS REALIZADOS </a></div>
        <div class="col-2"><a class="menu" href="/session/estadisticas">ESTADISTICAS</a></div>
       <div class="col-2"><a class="menu" href="/session/finanzas">FINANZAS</a></div>
       <div class="col-1">  <a class="menu" href="/contacto">PRODUCTOS</a></div>
        
          
         

    
      </div>
    </div>  #}
      
       
       {% block main %}
 
        <div class="col-12">
    
        </div>

      {% endblock %}
  </body>
</html>