{% block main %}
<body>
  <div id="newUser">
        
        <div class="row">
          <div class="col-12">        
            REGISTRO DE USUARIO 
          </div>
        </div>
     
        <div class="row">
         <div class="col-md">
            
                    <form name="formulario" method="post" action="/session/newuser", userController.login>
                      <!-- Datos del formulario -->
                      <div class="mb-3">
                        <label for="email" class="form-label">  Email </label>
                          <input type="text" name="email" id="email" value="{{email}}" class="form-control" required="true"/>
                      </div>
                    
                     
                      <div class="mb-3">
                        <label for="username" class="form-label">   Nombre </label>
                          <input type="text" name="username" id="username" value="{{username}}"  class="form-control" required="true"/>
                      </div>

                       <div class="mb-3">
                        <label for="telefono" class="form-label">   Telefono </label>
                          <input type="text" name="telefono" id="telefono" value="{{telefono}}"  class="form-control" required="true"/>
                      </div>
                       <div class="mb-3">
                        <label for="direccion" class="form-label">   Direccion </label>
                          <input type="text" name="direccion" id="direccion" value="{{direccion}}"  class="form-control" required="true"/>
                      </div>

                      <div class="mb-3">
                        <label for="password" class="form-label"> Contraseña</label>
                          <input type="password" name="password" id="password" value="{{password}}"class="form-control" required="true"/>
                      </div>
                      <!-- Botón de envío de formulario -->
                      <button type="submit" name="button" class="btn btn-primary">
                        Registro
                      </button>
                    </form>
   
        </div>
      </div>  
    </div>
  </body>
          
{% endblock %}