
{% extends "mastermin.njk" %}
  
     {% block main %}<div id="productoNuevo">
  <div class="row">
      <div class="col-md">ACTUALIZAR POSTEO</div></br></br>
  </div>

   <div class="row">
      <form name="formulario" method="post" action="refresh">   
        <div class="col-md-12">POSTEO</div>
        <div class="col-md-12"></br></div>
        <div class="col-md-12"><input type ="text" name="title" id="title" value="{{title}}" ></div>
        <div class="col-md-12"></br></div>
        <div class="col-md-12">DESCRIPCION</div>
        <div class="col-md-12"><input type ="text" name="text" id="text" value="{{text}}"></div>
        <div class="col-md-12"></br></div>
        <div class="col-md-4"><input type="file"  id="image" name="image" value="{{img}}}" ></div>
        <div class="col-md-8"></br></div> 
         <div class="col-md-12"><input type="submit"  class="btn btn-success btn-sm" value="Ingresar Registro" /></div> 
      </form>
    </div>
     
</div>  

      
 {% endblock %}