
/*--------------------------- Master Administrador------------------------------------------------
------------------------------------------------------------------------------------------------*/
#contenedorMasterAdministrador{
  margin-top: 10px;
 margin-left: 25px;
  width: auto;
  height: 420px;
  background-color: #ffffff;
  position: absolute;

}
#logoAdministrador {
  width: 400px;
  margin-top: 80px;
  margin-left: 660px;
  height: 60px;
  position: relative;
  display: inline-block;
}

#navbarAdministrador {
  margin-top: 80px;
  margin-left: 360px;
  width: 800px;
  height: 30px;
  text-align: center;
  background-color: #ffffff;
  font-size: 1.2rem;
  font-weight: 800;

}
/* unvisited link */
a.menu:link {
  color: rgba(204, 207, 204, 0.523);
  text-decoration: none;
}

/* visited link */
a.menu:visited {
  color: rgb(34, 34, 34);
  background-color: #416651;
  text-decoration: none;

}

/* mouse over link */
a.menu:hover {
 padding: 8px;
 border-radius: 4px;
  background-color: #a6cc958d;
color: #000000;
}

/* selected link */
a.menu:active {
  color: rgb(12, 13, 14);
}



/*--------------------------- Login Administrador------------------------------------------------
------------------------------------------------------------------------------------------------*/

#logoAdmin {
  width: 400px;
  margin-top: 80px;
  margin-left: 660px;
  height: 60px;
  position: relative;
  display: inline-block;
}

#login {
  text-align: right;
  margin-left: 640px;
  background-color: #ffffff;
  height: 380px;
  font: 0.9rem sans-serif;
  padding-right: 5px;
  margin-top: 90px;
  width: 180px;
  position: absolute;
  word-spacing: 0.8rem;


}

.txtLoginAdmin{
  margin-top: 8px;
}

.form-control1 {
  width: 90px;
  margin-top: 5px;
  margin-right: 18px;
  height: 24px;
  font-size: 1.3rem;
  border-radius: 4px;
  border-color: rgb(248, 249, 250);
  }

  .btninicio{
    font-size: 1.2rem;
    width: 90px;
    margin-top: 10px;
    margin-right: 18px;
    height: 18px;
    background-color: #9bc19d;
    border: none;
  }

/*----------------------------index administrador----------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------*/
/* #contenedor-pedidosPendientes{
    margin-left: 20%;
    margin-top: 20px;
    width: 1040px;
    height: 420px;
    background-color: #ffffff;
    position: absolute;
  
 }
 .rowpedidoPendiente{
  background-color: #afafaf3e;
  padding-top: 6px;
  font-size: 1rem;
  margin-bottom: 2px;
  text-align: center;
  width: 720px;
  height: 28px;
}
.pedidoPendiente{
  background-color: #ffffff;
  padding-top: 6px;
  font-size: 1rem;
  margin-bottom: 2px;
  text-align: center;
  width: 720px;
  height: 28px;
} */



.dropbtn {
  font-size: 10px;
  position: absolute;
  padding: 5px;
  margin-left: 40px;
  height: 40PX;
width: 80px;
background-color: #696c6a;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #696c6a;
}

.dropdown {
  position: absolute;
  margin-left: 660px;
  display: inline-block;
}

.dropdown-content {
  display:grid;
  background-color: #ffffff;
  padding: 5px;
  text-align: center;
margin-left: -8px;
  position: absolute;
  margin-top: 60px;
  height: 90px;
  width: 180px;
  overflow: auto;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}



/*-----------------------------------clientes------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------*/

#contenedor-clientes{
  margin-left: 20%;
  margin-top: 20px;
  width: 1040px;
  height: 420px;
  background-color: #ffffff;
  position: absolute;
}

#info-clientes{
  margin-left: 20px;
   width: 640px;
   height: 320px;
   background-color: #ffffff;
   position: absolute;
   font-weight: 300;
  font-size: 1rem;
  padding-left: 20px;
 }



 .formClientetxt{
  font-size: 1rem;
}

.btnCliente{
  font-size: 0.9rem;
  width: 60px;
  background-color: #71a381;
  height: 34px;
  border-radius: 4px; 
}
 .rowmovilinvisible{
  background-color: #afafaf3e;
  padding: 4px;
 }

 .rowmovil{
  background-color: #ffffff;
  margin-top: 4px;
  height: 20px;
}

 #newUserMovil {
  margin-top: 20px;
  text-align: right;
  width: 240px;
  height: 200;
  margin-left: 1000px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 8px;
  margin-bottom: 10px;
}

.nuevo-cliente{
background-color: #afafaf3e;
font-size: 1.1rem;
padding-top: 2px;
font-weight: bold;
height: 22px;
}

.formCliente{
  font-size: 1rem;
  width: 180px;
  margin-top: 5px;
  border: 1px;
  background-color: #eceaea;
  height: 20px;
  border-radius: 2px;
}









/*------------------------------------pedidos Pendientes--------------------
-----------------------------------------------------------------------
------------------------------------------------------------------------*/

#contenedor-pedidosPendientes{
  margin-left: 20%;
  margin-top: 20px;
  width: 1040px;
  height: 420px;
  background-color: #ffffff;
  position: absolute;

}
.rowpedidoPendiente{
background-color: #afafaf3e;
padding-top: 6px;
font-size: 1rem;
margin-bottom: 2px;
text-align: center;
width: 720px;
height: 20px;
}
.pedidoPendiente{
background-color: #ffffff;
padding-top: 6px;
font-size: 1rem;
margin-bottom: 2px;
text-align: center;
width: 720px;
height: 28px;
}

#info-pendientes{
  margin-left: 20px;
   width: 640px;
   height: 320px;
   background-color: #ffffff;
   position: absolute;
   font-weight: 300;
  font-size: 1rem;
  padding-left: 20px;
 }

 #buscadorClientesPedidos{
  width: 340px;
  height: 20px;
  margin-left: 30px;
  margin-top: 270px;
  position: absolute;
  font-weight: 600;
 font-size: 1.3rem; 
}

#newPedido {
  margin-top: 290px;
  text-align: right;
  width: 240px;
  height: 200;
  margin-left: 1060px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 8px;
  margin-bottom: 10px;
}

.nuevo-pedido{
  background-color: #afafaf3e;
  font-size: 1.1rem;
  padding-top: 2px;
  font-weight: bold;
  height: 22px;
  }



  .dropdown-contentPedido {
    display: none;
    background-color: #f1f1f1;
    float: right;
    margin-top: 15px;
    font-size: 1rem;
    margin-left: 80px;
    min-width: 80px;
    overflow: auto;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

#estado{
  font-size: 10;
    
    
   
   }
  
  
   .activo { color:green; }
  .inactivo { color:red; }
  
  
  .rowpedidototal{
    background-color: #b9b0b0;
    padding-top: 6px;
    font-size: 1rem;
    margin-bottom: 2px;
    text-align: center;
    margin-left: 700px;
    width: 140px;
    height: 50px;
  }
  
  
/*------------------------------------pedidos Realizados--------------------
-----------------------------------------------------------------------
------------------------------------------------------------------------*/
#contenedor-pedidosRealizados{
  margin-left: 20%;
  margin-top: 20px;
  width: 1040px;
  height: 420px;
  background-color: #ffffff;
  position: absolute;

}

#buscadorRealizados {
  margin-top: 0px;

  text-align: right;
  width: 240px;
  height: 200;
  margin-left: 800px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 8px;
  margin-bottom: 10px;
}
.rowpedidoRealizados{
background-color: #afafaf3e;
padding-top: 6px;
font-size: 1rem;
margin-bottom: 2px;
text-align: center;
width: 720px;
height: 20px;
}
.pedidoRealizados{
background-color: #ffffff;
padding-top: 6px;
font-size: 1rem;
margin-bottom: 2px;
text-align: center;
width: 720px;
height: 28px;
}

#infoRealizados{
  margin-left: 20px;
   width: 640px;
   height: 320px;
   background-color: #ffffff;
   position: absolute;
   font-weight: 300;
  font-size: 1rem;
  padding-left: 20px;
 }

 .dropdownRealizado {
  position: absolute;
  margin-left: 635px;
  display: inline-block;
}
  
  /*-----------------------------------------------Estadisticas-----------------------------------------
--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------*/
#contenedorEstadisticas{
  margin-left: 20%;
  margin-top: 20px;
  width: 1040px;
  height: 420px;
  background-color: #ffffff;
  position: absolute;

}

#infoEstadisticas{
  margin-left: 20px;
   width: 1040px;
   height: auto;
   background-color: #ffffff;
   position: absolute;
   font-weight: 300;
  font-size: 1rem;
  padding-left: 20px;
 

 }
.rowInfoEstadisticas{
background-color: #afafaf3e;
padding-top: 6px;
font-size: 1rem;
margin-bottom: 2px;
width: 1040px;

}
#catEstadisticas{
  background-color: #b5d3ef;
  font-size: 0.95rem;
  width: 968px;
  height: 40px;
  margin-left: 0px;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  color: #000000;
}
#catEstadisticasMes{
  background-color: #efedb5;
  font-size: 0.95rem;
  width: 968px;
  height: 40px;
  margin-left: 0px;
  text-align: justify;
  padding: 5px;
  padding-top: 10px;
  color: #000000;
}

#mes {
  background-color: #696c6a;
  color: #ffffff;
}

#datosEstadisticos{
  background-color: #ffffff;
  width: 968px;
  margin-top: 8px;
  margin-left: 0px;
  padding-left: 0px;
  height: 150px;
  text-align: center;
  list-style: none;
}

.rowEstadisticas{
  background-color: #afafaf3e;
  padding-top: 10px;
  font-size: 1rem;
  margin-bottom: 2px;
  width: 1040px;
 
  }
  #datosEstadisticosMes{  background-color: #ffffff;
    width: 968px;
    margin-top: 8px;
    margin-left: 0px;
    padding-left: 0px;
    height: 170px;
    text-align: center;
    list-style: none;
  }
 
 
  #formularioFechas {
    position: absolute;
    background-color: #ffffff;
    color: #000;
    margin-top: 18PX;
    padding: 20px;
    height: 90px;
    align-items: center;
    
    
  }
  .floatRight{
    float: right;
    }
  .floatLeft{
      float: left;
      }

      .mesBusqueda{
        font-size: 1rem;

        font-weight: bold;
      }
    .listaUp{
        border-top: 1px solid ;
        color: #282525;
        list-style: none;
        margin-bottom: 0px;
        margin-top: 3px;
      }
      .listaDown{
        border-bottom: 1px solid ;
        color: #282525;
        list-style: none;
        margin-bottom: 3px;
        text-align: justify;
      }
 
  
  .sizeFont {
 font-size: 1.4rem;
 text-align: justify;
  }
  .sizeList {
    font-size: 1rem;
   margin-left: 20px;
    text-align: center;
     }
  .sizeBtn {
    margin-top: 10px;
    text-align: justify;
     }

    

  .class1{
    background-color: #b5d3ef;
    font-size: 0.95rem;
    padding: 10px;
    height: 70px;
    text-align: center;
  }
  .class2{
    background-color: #7d756f;
    margin-top: 10px;
    padding: 10px;
    height: 20px;
    text-align: justify;
  }

  .class3{
    background-color: #86a7c7;
    font-size: 0.95rem;
    padding: 10px;
    margin-left: 3px;
    height: 50px;
    text-align: center;
  }
  .class4{
    background-color: #efceb5;
    font-size: 0.95rem;
    margin-left: 3px;
    padding: 6px;
    height: 70px;
    text-align: center;
  }
  .class5{
    background-color: #d4af93;
    font-size: 0.95rem;
    text-align: center;
    height: 50px;
    padding: 6px;
    margin-left: 3px;
  }
  .class6{
    background-color: #d0efb5;
    font-size: 0.95rem;
   padding: 10px;
    margin-left: 3px;
    height: 70px;
    text-align: justify;
  }
  .class7{
    background-color: #b2d693;
    font-size: 0.95rem;
    padding: 10px;
    height: 50px;
    margin-left: 3px;
    text-align: center;
  }
  .clase8{
    background-color: #b5d3ef;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 2px;
    height: 24px;
    text-align: justify;
  }
  .clase9{
    background-color: #6286b0;
    color: #fff;
    padding: 5px;
    width: 968PX;
    margin-left: 0PX;
    margin-top: 0px;
    margin-bottom: 5PX;
    text-align: justify;
    height: 24px;
    
  }
  .clase99{
    background-color: #abb062;
    color: #fff;
    padding: 5px;
    width: 968PX;
    margin-left: 0PX;
    margin-top: 0px;
    margin-bottom: 5PX;
    text-align: justify;
    height: 24px;
    
  }
  .class10{
    background-color: #7d756f;
    color: #ffffff;
    margin-left: 3px;
    font-size: 0.9rem;
    padding: 5px;
    height: 45px;
    text-align: center;
  }

  #listado{
margin-top: -90px;

  }








  
  /*--------------cabezal---logeo--------------*/
  
  
  #logoAdminMovil {
    width: 400px;
    margin-top: 80px;
    margin-left: 660px;
    height: 60px;
    position: relative;
    display: inline-block;
  }


  .rowalt{
    height: 30px;
    background-color: #ffffff;
  }
/*-----------------------------------------------administrador-----------------------------------------
--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------*/

#contenedor-login {
  margin-top: 100px;
  width: 1000px;
  height: 420px;
  margin-left: 290px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 8px;
}
#adminProducto {
  background-color: rgb(233, 236, 232);
  text-align: left;
  font-size: 0.8rem;
  margin-left: 250px;
  width: 530px;
  padding-left: 13px;
  padding-right: 30px;
  padding-top: 10px;
  height: auto;
  position: absolute;
  border-radius: 4px;
  margin-top: 5px;
}

#adminUser {
  margin-top: 5px;
  background-color: rgb(233, 236, 232);
  text-align: left;
  font-size: 0.7rem;
  margin-left: 800px;
  width: 530px;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 5px;
  height: auto;
  position: absolute;
  border-radius: 4px;
}
#adminSlide {
  background-color: rgb(233, 236, 232);
  text-align: left;
  font-size: 0.7rem;
  margin-left: 800px;
  width: 530px;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 10px;
  height: 300px;
  position: absolute;
  border-radius: 4px;
  margin-top: 740px;
}
#adminPosteo {
  margin-top: 340px;
  background-color: rgb(233, 236, 232);
  text-align: left;
  font-size: 0.8rem;
  margin-left: 800px;
  width: 530px;
  padding-left: 25px;
  padding-right: 30px;
  padding-top: 10px;
  height: auto;
  position: absolute;
  border-radius: 4px;
}
#txtposteo {

  height: 120px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
 
}



.new {
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 10px;
  font-size: 0.8rem;
  padding-top: 3px;
  color: #000;
  background-color: rgb(231, 221, 129);
}






/*--------------carrito--------------*/
#contenedor-carrito {
  margin-top: 0px;
  width: 1000px;
  height: auto;
  margin-left: 290px;
  background-color: #e6eaee;
  position: absolute;
  border-radius: 8px;
  margin-bottom: 10px;
}
#slide-carrito {
  font-size: 1rem;
  margin-left: 26px;
  width: 990px;
  height: auto;
  border-radius: 8px;
}
#carritoInfo {
  margin-left: 10px;
  padding-top: 15px;
  margin-top: 10px;
  text-align: justify;
  padding-right: 20px;
  height: auto;
  font-size: 1.2rem;
  width: 460px;
  padding-left: 20px;
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  border-radius: 8px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  
}






#contador{
  width: 100px;
  height: 40px;
  margin-top: 10px;
  background-color: #624646;
  position: relative;
  border-radius: 4px
  
 };
 #contadorsuma{
  width: 30px;
  height: 30px;
  background-color: #282525;
  margin-top: -10px;
  margin-left: 5px;
  z-index: 2;
 };

 .sumastyle {
text-align: left;
color: #2d8ff2;
font-size: 3rem;

 }



.radius2{
  border-radius: 3px;
  align-items: center;
  margin-left: 10px;
 /*  margin-top: 5px; */
}



#carritocontenedor {
  text-align: right;
  margin-left: 842px;
  background-color: #dfe6eb;
  height: 360px;
  font: 0.7rem sans-serif;
  padding-right: 30px;
  margin-top: 10px;
  width: 250px;
  position: fixed;
  word-spacing: 0.2rem;
  border-radius: 8px;
 
}







#datosIndex {
  margin-top: 80px;
  width: 980px;
  height: 940px;
  margin-left: 90px;
  background-color: rgb(202, 198, 198);

  position: absolute;
}

#posteoDatos {
  margin-top: 90px;
  width: 970px;
  height: 800px;
  margin-left: 100px;
  background-color: darkgrey;
  position: absolute;
}

#UserSesion{
  font-size: 0.8rem;
  margin-left: 76px;
  width: 300px;
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 70px;
  height: 300px;
  position: absolute;
  border-radius: 4px;
}
#registroUser {
  font-size: 0.8rem;
  
  margin-top: 40px;
margin-left: 460px;
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 70px;
  height: 300px;
  border-radius: 4px;
}
.inputUser {
  font-size: 0.7rem;
  margin-top: 20px;
  text-align: right;
}
.updateteam {
  font-size: 0.6rem;
  width: 20px;
  text-align: center;
}
.loginUser {
  font-size: 0.9rem;
  width: 160px;
  text-align: right;
}
#posteoIndex {
  height: 410px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 420px;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  align-items: center;
  display: inline-flex;
  position: absolute;
  border-radius: 8px;
}
.productoDescIndex {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding-left: 0px;
  padding-right: 20px;
  padding-top: 10px;
}
.productoNameIndex {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

#posteo3 {
  font-size: 0.9rem;
  margin-top: 0px;
  margin-left: 5px;
  display: inline-block;
  position: absolute;
  height: 330px;
  width: 280px;
  background-color: #ffffff;
  padding-left: 80px;
  text-align: left;
  border-radius: 8px;
}

#productoNuevo {
  font-size: 0.7rem;
  margin-top: 60px;
  text-align: center;
  height: 240px;
}
#createposteo {
  font-size: 0.8rem;
  margin-top: 100px;
  margin-left: 930px;
  padding-left: 10px;
  float: right;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 10px;
  height: 200px;
  position: absolute;
  border-radius: 4px;
}

#actualizaTeam {
  font-size: 0.8rem;
  color: #ffffff;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 10px;
  background-color: #116fad;
  width: 300px;
  height: 50px;
  position: relative;
}
.team {
  color: rgb(38, 235, 48);
}





#btnagregarproducto {
background-color: #7f9a73;
margin-top: 0px;
float: right;
border-radius: 4px;
font-size: 0,7rem;
border: none;
text-decoration: none;

}
.txtRegistro {
  font-size: 0.9rem;
  word-spacing: 0.0rem;
  }

.btnRegistro {
font-size: 0.6rem;

margin-top: 25px;
margin-right: 38px;
border-bottom: none;
background-color: #5b88c4;
border: none;
}
.btnOlvido {
  font-size: 0.7rem;
  margin-top: 5px;
  border-bottom: none;
  border: none;
  }


.btnnusuario{
  font-size: 1rem;
  width: 90px;
  margin-top: 10px;
  margin-right: 18px;
  height: 18px;
  background-color: rgb(107, 161, 209);
  border: none;
}
.user{
  font-size: 1.9rem;
  float: right;
  width: 40px;
  height: 18px;
}

#btniniciotxt{
  font-size: 0.8rem;
  margin-top: -15px;
  height: 18px;
}
.btniniciousertxt{
  font-size: 1.2rem;
  width: 90px;
  margin-right: 18px;
  margin-top: 5px;
  border: none;
  height: 18px;
  border-radius: 6px;
}
.btniniciouser{
  font-size: 1.2rem;
  width: 90px;
  margin-top: 0px;
  margin-right: 18px;
  height: 18px;
  background-color: #9bc19d;
  border: none;
  border-radius: 6px;
}
.espaciado {
  word-spacing: 0.0rem;
}

.slidetitle {
  font-size: 2rem;
  background-color: #5b88c4;

}

#newUser {
  margin-top: 0px;
  width: 1000px;
  height: auto;
  margin-left: 290px;
  background-color: #2d8ff2;
  position: absolute;
  border-radius: 8px;
  margin-bottom: 10px;
}



/*--------------pedidos pendientes--------------------------------------------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------*/
#contenedor-pendientes {
  margin-top: 300px;
  width: 200px;
  height: 300;
  margin-left: 1090px;
  background-color: #245a90;
  position: absolute;
  border-radius: 8px;
  
}
#productoIndex {
  height: 300px;
  margin-top: 20px;
  margin-left: -30px;
  margin-right: 20px;
  width: 500px;
  margin-left: 450px;
  background-color: #de5a5a;
  padding-left: 20px;
  display: inline-block;
  position: absolute;
  border-radius: 8px;
  margin-bottom: 20px;
}
#productoInfo {
  margin-left: 4px;
  padding-top: 8px;
  margin-top: 10px;
  text-align: justify;
  padding-right: 30px;
  height: 360px;
  font-size: 1rem;
  width: 230px;
  padding-left: 20px;
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  border-radius: 8px;
}
























/*------------------------------------clientes movil--------------------
-----------------------------------------------------------------------
------------------------------------------------------------------------*/

@media screen and (max-width : 600px) {
  #contenedor-clientes{

     width: 300px;
     margin-top: 60px;
     margin-left: 20px;
     height: 420px;
     overflow-x: hidden;
     overflow-y: auto;
   
     background-color: #ffffff;
     position: absolute;
    
   
   }
   .rowmovil{

    
    background-color: #d7e5d5;
    font-weight: normal;
    font: 1.3em sans-serif;
    width: 220px;
    height: auto;
  }
  .rowmovilinvisible{

    display: none;
  
 
   
  
  }
   #info-clientes{
   
  
     margin-top:40px;
      width: 240px;
      height: 320px;
      background-color: #ffffff;
      position: absolute;
      font-weight: 300;
     font-size: 0.8rem;
    
    
    }
    #buscadorClientes{
   
   margin: 0px;
      width: 280px;
      height: 20px;
      margin-left: -20px;
      padding-bottom: 20px;
      font-weight: 600;
     font-size: 1rem;
   
    
    }


}


 
/*--------------administrador movil--------------*/
@media screen and (max-width : 600px) {
  #logoAdmin {
   
    height: 60px;
    width: 100px;
    margin: 0px;
    margin-top: 70px;
    padding-left: 55px;
    position: relative;
 
  }
  #logoAdminMovil {
   
    height: 60px;
    width: 100px;
    margin: 0px;
    margin-top: -100px;
    padding-left: 62px;
    position: relative;
 
  }
  #menu {
    height: 400px;
    width: 40px;
    margin-left: 20px;
 
    position: absolute;
  
  }
 
  .btninicio{
    font-size: 1.4rem;
    width: 110px;
    margin-top: 20px;
    margin-right: 18px;
    height: 28px;
    background-color: #9bc19d;
    border: none;
  }
 
  #login {
    background-color: #ffffff;
    height: 100px;
    width: 200px;
    margin: 0px;
    font: 0.9rem sans-serif;
    margin-top: 70px;
    word-spacing: 0.8rem;
    position: relative;
  
  
  }
 

}

@media screen and (max-width : 740px ) and (min-width: 600px){
  #logoAdmin {
   
    height: 60px;
    width: 100px;
    margin: 0px;
    margin-top: 30px;
    padding-left: 55px;
    position: relative;
 
  }
  #logoAdminMovil {
    height: 60px;
    width: 100px;
    margin: 0px;
    margin-top: 30px;
    padding-left: 55px;
    position: relative;
 
  }
  #menu {
    height: 400px;
    width: 40px;
    margin-left: -86px;
 
    position: absolute;
  
  }
  .btninicio{
    font-size: 1.4rem;
    width: 110px;
    margin-top: 20px;
    margin-right: 18px;
    height: 28px;
    background-color: #9bc19d;
    border: none;
  }
 
  #login {
    background-color: #ffffff;
    height: 100px;
    width: 200px;
    margin: 0px;
    font: 0.9rem sans-serif;
    margin-top: 70px;
    word-spacing: 0.8rem;
    position: relative;
  
  
  }
  #contenedor-movil{
    margin-top: 10px;
   margin-left: 220px;
    width: auto;
    height: 420px;
    background-color: #ffffff;
    position: absolute;
 
  }

}



/*--------------index-movil--------------*/

@media only screen and (max-width : 600px) {
 
  #menu {
    margin-top: 60px;
    margin-left: 90px;
    width: 140px;
    text-align: center;
  }
  #slideMovil {
    
    width: 140px;
    height: 500px;
  }
 
  #contenedor-index {
    margin-top: 90px;
    width: 260px;
    height: auto;
    margin-left: 20px;
    background-color: #719ecb;
    position: absolute;
    border-radius: 8px;
  }
  #logoIndex {
    width: 400px;
    margin-top: 20px;
    margin-left: 60px;
    height: 60px;
    position: relative;
    display: inline-block;
  }
  
  #slide-index {
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 6px;
    width: 260px;
    height: 200px;
    border-radius: 8px;
  }
  .imgslide{

    width: 260px;
    height: 200px;
    border-radius: 8px;
  }
  }



