{% block main %}
<div>     
      <div id="logoNavbar">
        <label><img src="http://localhost:3001/static/img/logo.jpg"/></label>
      </div>

  
    <div id="menuNavbar">        
      <div class="row">
        
        <nav class="navbar navbar-expand-lg navbar-light ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/">HOME   |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/comunidad">COMUNIDAD   |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/productos">PRODUCTOS |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">CONTACTO</a>
              </li>
             {#   <li class="nav-item linkmenu">
                <a href="/carrito"><img src="http://localhost:3001/static/img//carrito1.jpg"/></a>
              </li> #}
            </ul>
          </div>

        </nav>
      </div>
    </div> 

</div>     
{% endblock %}
       

          


